@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Återställnings bekräftelse";
}

<div class="box-center-content">
    <h2>@ViewData["Title"]</h2>
    <p>
        Vänligen kolla din email för att återställa lösenordet.
    </p>
</div>