@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Lösenords bekräftelse";
}

<div class="box-center-content">
    <h2>@ViewData["Title"]</h2>
    <p>
        Ditt lösenords har återställts. <a class="help-link" asp-page="./Login">Klicka här för att logga in</a>.
    </p>
</div>
